// TODO: Break up
:root {
  --primary_color: #5b78f6;
  --dark: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.blog-area {
  padding-top: 40px;
  padding-bottom: 40px;

  .section-heading {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.blog-sidebar .blog-sidebar-inner {
  .blog-sidebar-widget {
    margin-bottom: 40px;

    .blog-sidebar-widget-inner {
      padding: 46px 30px 62px 30px;
    }
  }

  .search-widget {
    .blog-sidebar-widget-inner {
      padding: 0;
    }

    form {
      position: relative;
      border-radius: 30px;

      &::before,
      &::after {
        border-radius: 30px;
      }

      input {
        width: 100%;
        border: none;
        background: transparent;
        padding: 19px 20px;
        border-radius: 30px;
        color: #ffffff;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .theme-btn {
        border: none;
        border-radius: 30px;
        position: absolute;
        right: 6px;
        top: 6px;
      }
    }
  }

  .categories-widget ul li,
  .recent-post-widget ul li {
    display: block;
    margin-bottom: 24px;
  }

  .categories-widget ul li:last-child,
  .recent-post-widget ul li:last-child {
    margin-bottom: 0;
  }

  .categories-widget ul li a,
  .recent-post-widget ul li a {
    display: block;
    line-height: 25px;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.8;
  }

  .blog-sidebar-widget h3 {
    color: #bcbcbc;
    opacity: 0.5;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.blog-details-area .blog-details-content .tags,
.blog-sidebar .blog-sidebar-inner .tags-widget ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.blog-details-area .blog-details-content .tags a,
.blog-sidebar .blog-sidebar-inner .tags-widget ul li a {
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 400;
}

.blog-area .blog-items {
  padding-right: 85px;

  .blog-item {
    + .blog-item {
      margin-top: 70px;
    }

    .img-box {
      height: 400px;
      position: relative;
      margin-bottom: 70px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.blog-details-area .blog-details-content .meta,
.blog-area .blog-items .blog-item .content .meta {
  display: block;
  color: var(--primary_color);
  font-size: 16px;
  letter-spacing: -1%;
  font-weight: 400;
  line-height: 16.8px;
  margin-bottom: 10px;
}

.blog-details-area .blog-details-content h1 {
  font-size: 24px;
  line-height: 26.8px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.blog-area .blog-items .blog-item .content h1 {
  font-size: 24px;
  line-height: 26.8px;
  text-transform: uppercase;
  margin-bottom: 24px;

  a {
    color: #ffffff;
  }
}

.blog-details-area .blog-details-content p,
.blog-area .blog-items .blog-item .content p {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 400;
  margin-bottom: 30px;
}

.blog-details-area {
  padding-top: 130px;

  .blog-details-content {
    padding-right: 85px;

    .img-box {
      margin-bottom: 70px;

      img {
        display: block;
        width: 100%;
      }
    }

    h1 {
      color: #ffffff;
    }

    .list {
      margin-bottom: 30px;

      li {
        color: #898989;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .comments-and-form-wrap {
      margin-top: 70px;

      .comments-and-form-wrap-inner {
        padding: 40px 30px 40px 30px;
      }

      h2 {
        font-size: 24px;
        line-height: 26.8px;
        color: #ffffff;
        letter-spacing: -1%;
        margin-bottom: 40px;
      }

      .comments {
        .comment-list {
          display: flex;
          align-items: flex-start;
          gap: 40px;
          padding-bottom: 40px;
          margin-bottom: 40px;
          border-bottom: 1px solid #323232;
        }

        .children {
          padding-left: 80px;
        }

        .comment-list {
          .comment-avatar {
            width: 100px;
            height: 100px;
            position: relative;
            flex: none;

            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50px;
            }
          }

          .comment-body {
            .date {
              line-height: 16.8px;
              color: var(--primary_color);
              letter-spacing: -1%;
              font-size: 16px;
              font-weight: 500;
              display: block;
              margin-bottom: 10px;
            }

            h3 {
              font-size: 24px;
              line-height: 26.8px;
              color: #ffffff;
              letter-spacing: -1%;
            }

            p {
              color: #898989;
              font-size: 16px;
              line-height: 25px;
            }

            .reply-btn {
              padding: 10px 22px;
              font-size: 14px;
            }
          }
        }
      }

      .comment-form form {
        .input-group {
          textarea,
          input {
            width: 100%;
            border: none;
            background: linear-gradient(
              120deg,
              rgba(255, 255, 255, 0.05),
              rgba(255, 255, 255, 0.01)
            );
            border-radius: 10px;
            padding: 17px 20px;
            font-size: 14px;
            display: block;
            color: #ffffff;
          }

          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          textarea {
            resize: none;
            height: 145px;
          }
        }

        button {
          border: none;
          width: 100%;
          padding: 18px 30px;
        }

        .input-group {
          textarea:focus,
          input:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
}
